@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Color Definition */
  --dark-purple: #332b33;
  --light-purple: #4e2d4e;
  --lighter-purple: #772377;
  --dark-orange: #a2734e;
  --lighter-orange: #f19f48;
  --lemon-green: #23e727;
  --slightly-dark-green: #00c03f;
  --dark-green: #0a9155;
  --grayish-white: #dfdfdf;
  --blue: #2387ff;
  --white: #e6e6e6;
}

body {
  position: relative;
  background-color: #ececec;
  font-family: "Ubuntu", Courier, monospace;
  margin-bottom: 40px;
}

nav .container {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 40px;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-purple);
}

nav .container h3 {
  font-size: 30px;
  border-radius: 20px;
  background-color: var(--lighter-purple);
  color: var(--lighter-orange);
  padding: 10px;
  font-family: "Ubuntu", Courier, monospace;
}

nav .container .links ul li {
  display: inline;
  list-style-type: none;
  margin-left: 20px;
  font-size: 18px;
}

nav .container .links ul li:nth-last-of-type(1) {
  background-color: var(--lighter-orange);
  padding: 14px 18px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgb(0, 0, 0, 0.2);
  color: var(--dark-purple);
  font-weight: bold;
  cursor: pointer;
}

.app-icon {
  display: flex;
  align-items: center;
  background-color: var(--lighter-purple);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.maintainer-span {
  color: var(--grayish-white);
}
section .container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  gap: 50px;
}

section .container .about {
  margin-left: 20px;
}

section .container .image .player .video-container #myVideo {
  /* background-color: white; */
  border-radius: 10px;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.3);
}
section .container .image video {
  max-width: 100%;
  height: auto;
}

section .container .about h1 {
  color: var(--dark-purple);
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 42px;
  line-height: 1;
  letter-spacing: -1px;
}

section .container .about h3 {
  margin-bottom: 14px;
  color: var(--dark-green);
  font-size: 16px;
}

section .container .about ul {
  font-size: 10px;
  line-height: 2;
  color: var(--light-purple);
  list-style-type: none;
  font-weight: 600;
  align-items: center;
}
section .container .about ul li {
  text-align: start;
  font-size: 15px;
  margin-bottom: 5px;
  align-items: center;
}
section .container .about ul li img {
  background-color: var(--lighter-purple);
  border-radius: 25%;
  padding: 2px;
}

.about ul img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  align-items: center;
}
nav .container .links ul li a {
  text-decoration: none;
  color: var(--dark-purple);
  align-items: center;
}
nav .container .links ul li {
  cursor: pointer;
}

.material-symbols-outlined {
  padding-top: 5px;
}

.player {
  position: relative;
}

.play-button {
  /* background-color: var(--dark-green); */
  width: 80px;
  height: 80px;
  position: absolute;
  left: 45%;
  top: 45%;
  /* border-radius: 50%; */
  /* /* display: none; */
}

.play-icon {
  background-color: var(--lighter-orange);
  border-radius: 50%;
  padding: 10px;
  height: 80px;
  width: 80px;
}

nav .container ul {
  display: flex;
  margin: auto 0;
  list-style-type: none;
  align-items: center;
}

.links ul li div,
.download-windows {
  display: flex;
  align-items: center;
}

nav .container .links ul li div a,
.download-windows a {
  text-decoration: none;
  color: var(--dark-purple);
  font-size: 16px;
}

.btnDown div,
.download-windows {
  background-color: var(--lighter-orange);
  padding: 1px 2px;
  border-radius: 10px;
}

.download-windows {
  padding: 10px 15px;
  justify-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 230px;
  height: 60px;
  box-shadow: 2px 3px 5px rgb(0, 0, 0, 0.2);
}
.download-windows a {
  font-size: 15px;
  font-family: "Inter", Courier, monospace;
}

.download-windows-list {
  margin-top: 30px;
}

.menu-class {
  display: none;
}
.hamburger {
  display: none;
}
.links {
  display: block;
}

@media only screen and (min-width: 1060px) {
  .hamburger {
    display: none;
  }

  .links {
    display: block;
  }
  .menu-class {
    display: none;
  }
}

@media only screen and (max-width: 1060px) {
  section .container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }
  section .container {
    text-align: center;
  }
  .download-windows {
    margin: 0 auto;
  }

  .links {
    /* //display: none; */
    margin-top: -20px;
    position: absolute;
    background-color: var(--grayish-white);
    align-self: flex-start;
    color: var(--dark-purple);

    left: 0;
  }
  .links {
    width: 300px;
    height: 100%;
    z-index: 3;
  }
  .links ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .links ul li {
    align-self: flex-start;
  }
  .links ul li div a {
    margin: 0;
    padding: 0;
  }
  .links ul li {
    text-align: start;
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }
  nav .container {
    align-items: flex-start;
  }

  .links ul li {
    align-items: center;
  }
  .btnDown {
    width: 80%;
  }
  .menu-class {
    margin-left: 50px;
  }
  .menu-class {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .links {
    display: none;
  }
}
.links ul {
  font-size: 16px;
}

.about h3 {
  font-weight: 400;
  line-height: 1.7;
}
